@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  padding: 36px 910px 40px 133px;
  position: sticky;
  top: 0;
  background-color: #a78bfa;
}

nav h1 {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}
nav h1:hover {
  color: #000;
}

.first-section,
.second-section {
  padding: 0px 137px 0px 136px;
}

.heading {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 800;
  color: #484848;
}

img {
  margin-top: 30px;
  width: 100%;
}

.about-skateboard {
  font-weight: 400;
  line-height: 1.5;
}

.span-color {
  color: #854d0e;
}

.span-bold {
  font-weight: 700;
}

.second-section {
  padding-top: 20px;
  background-color: #ffe5d9;
}

.margin-adjust {
  margin-top: 20px;
}

button {
  margin-top: 28px;
  margin-bottom: 85px;
  padding: 12px 40px;
  font-size: 14px;
  font-weight: 700;
  border: none;
}

.btn1 {
  margin-right: 28px;
  background-color: #ff6820;
  color: white;
}

.btn2 {
  background-color: #fff;
  color: #000;
}

.btn1:hover {
  background-color: #26d876;
}

.btn2:hover {
  background-color: #000;
  color: #fff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  padding-top: 27px;
  padding-bottom: 26px;
  background-color: #a78bfa;
}

footer a {
  text-decoration: none;
  font-weight: 700;
  color: white;
}

footer a:first-child:visited,
footer a:last-child:visited {
  color: #000;
}

footer a:first-child:hover,
footer a:last-child:hover {
  color: #ff6820;
}
